

<body><form action="login" method="post">
  <table width="341" height="198" border="1">
    <tr>
      <td width="92">Username :</td>
      <td width="176"><input name="textfield" type="text" required /></td>
    </tr>
    <tr>
      <td>Password :</td>
      <td><input type="password" name="textfield2" required title="OOPS!! the field is empty" /></td>
    </tr>
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="submit" value="LOGIN" /> <a href="">Forgot Password</a>
        <strong></strong></div></td>
    </tr>
  </table>
</form>
</body>