{% extends 'indextrainer.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="doubtreply1">
  <table width="424" border="1">
    <tr>
      <td width="139" height="61"><div align="center"><strong>Reply</strong></div></td>
      <td width="269"><div align="center">
        <input type="text" name="textfield" required />
      </div></td>
    </tr>
    <tr>
      <td height="77" colspan="2"><div align="center">
        <input name="submit" type="submit" id="Send" value="Send" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

