{% extends 'indextrainer.html' %}
{% block body %}

<body><form action="" method="post">
  <!--<table width="321" height="239" border="1" class="table">-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="User">view users</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="video">add & manage video</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="TRAINERWORK">view assigned work&update status</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="doubtview">view doubts and send reply</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="right"><a href="/">logout</a></div></td>-->
    <!--</tr>-->
  <!--</table>-->
    </form>
</body>
{% endblock %}