{% extends 'indextrainer.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="Addvideo#abt">
  <table class="table table-hover" id="customers">
    <tr>
      <th>Video</th>
      <th>Description</th>
      <th>Date</th>
      <th> &nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td height="90" >&nbsp;<a href="../static/video/{{i['VIDEO']}}" >{{i['VIDEO']}}</a></td>
      <td>&nbsp;{{i['DESCRIPTION']}}</td>
      <td>&nbsp;{{i['DATE']}}</td>
      <td><div align="center"><a class="btn btn-danger" href="deletevideo?eid={{i['VIDEO_ID']}}#abt">Delete</a></div></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="4"><div align="right">
        <input class="btn btn-info " type="submit" name="Submit" value="Add new" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}

