{% extends 'indexadmin.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="addwork1">
  <table  class="table table-hover">
    <tr>
      <td>Work</td>
      <td ><input class="form-control" type="text" name="textfield"  required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td>Details</td>
      <td ><input class="form-control" type="text" name="textfield2"  required pattern="[A-Z a-z.]{3,25}"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="Submit"  class="btn btn-success" value="Save" />
      </td>

    </tr>
  </table>
</form>
</body>
{% endblock %}
