{% extends 'indexadmin.html' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="">
  <table width="393" height="249" border="1">
    <!--<tr>-->
      <!--<td><div align="center"><a href="trainermng>add&manage trianer</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="blockunblock>block/unblock user</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="complaints>veiw complaints and send reply</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="addnmngewrk>add&manage works </a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="assignwork>assign work to trainers</a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="center"><a href="assigned_work_status">assigned work status </a></div></td>-->
    <!--</tr>-->
    <!--<tr>-->
      <!--<td><div align="right"><a href="/">logout</a></div></td>-->
    </tr>
  </table>
</form>
</body>
{% endblock %}