{% extends 'indexadmin.html' %}
{% block body %}

<body>
  <form id="form1" name="form1" method="post" action="">
      <table class="table table-borderless table-hover" id="customers" >
        <tr>
      <th>WORK</th>
      <th>DETAILS</th>
      <th>DATE</th>
          <th>TRAINER</th>
          <th>STATUS</td>
      <th>&nbsp;</th>
    </tr>
    {% for i in val %}
    <tr>
      <td height="91">&nbsp;{{i['WORKS']}}</td>
      <td>&nbsp;{{i['DETAILS']}}</td>
      <td>&nbsp;{{i['DATE']}}</td>
      <td >{{i['FIRST_NAME']}} {{i['LAST_NAME']}}</td>

      <td>&nbsp;{{i['STATUS']}}</td>
      <td><div align="center"><a class="btn btn-danger" href="delete_assigned_work?id={{i['ASSIGNEDWORK_ID']}}#abt">Delete</a></div></td>
    </tr>
    {% endfor %}

  </table>
</form>
</body>
{% endblock %}
